body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    padding: 20px;
}

header {
    text-align: center;
    color: #d99c2b;
    margin-bottom: 20px;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    background-color: #fff;
    border: 1px solid #d99c2b;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    text-align: center;
}

#back-btn {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #d99c2b;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#back-btn:hover {
    background-color: #e4b05e;
}